{{template 'letter_to_santa'}}

<h4>Compose Your Letter</h4>

<label>The Pitch</label>
{{view Ember.TextArea valueBinding="pitch" placeholder="Convince Santa here"}}

<label>The Ask</label>
{{view Ember.TextArea valueBinding="ask" placeholder="Ask for gifts"}}

<label>Your Name</label>
{{view Ember.TextField valueBinding="yourName" placeholder="Enter your name"}}

<div class="wishes">
  <h5>Add a gift</h5>
  {{view Ember.TextField valueBinding="newGift.name" placeholder="e.g., NERF gun"}}

  <div>
    <input type="button" value="Add" class="btn btn-primary" {{action add}}>
  </div>

  <h4>Wishes</h4>

  {{#if gifts.length}}
    <ul>
      {{#each gifts}}
        <li>
          {{name}}
          <button class="btn btn-danger btn-mini" {{action deleteGift this}}>del</button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>Don&apos;t you want any gifts?</p>
  {{/if}}
</div>
