<div class="letter">
  <h4>Dear Santa,</h4>
  <p>{{pitch}}</p>
  <p>{{ask}}:</p>
  <ul>
    {{#each collection}}
      <li>
        {{name}}
      </li>
    {{/each}}
  </ul>
  <p>Sincerely,</p>
  <h4>{{yourName}}</h4>
</div>

<h4>Compose Your Letter</h4>

<label>The Pitch</label>
{{view Ember.TextArea valueBinding="pitch" placeholder="Convince Santa here"}}

<label>The Ask</label>
{{view Ember.TextArea valueBinding="ask" placeholder="Ask for gifts"}}

<label>Your Name</label>
{{view Ember.TextField valueBinding="yourName" placeholder="Enter your name"}}

<h5>Add an Item</h5>

<label>Item Name</label>
{{view Ember.TextField valueBinding="name" placeholder="e.g., NERF gun"}}

<div>
  <input type="button" value="Add" class="btn btn-primary" {{action add}}>
</div>

<h4>Wishes</h4>

{{#if collection.length}}
  <ul>
    {{#each collection}}
      <li>
        {{name}}
        <button {{action deleteMe this}}>del</button>
      </li>
    {{/each}}
  </ul>

  <button class="btn btn-danger" {{action sendToSanta}}>Send to Santa</button>
{{else}}
  <p>Don&apos;t you want any gifts?</p>
{{/if}}
